<nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/landing']">Stoic Technology Group</a>
            </div>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Pages</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-info">
                        <a class="dropdown-item" [routerLink]="['/landing']"><i class="nc-icon nc-spaceship"></i>&nbsp; Home</a>
                        <a class="dropdown-item" [routerLink]="['/services']"><i class="nc-icon nc-zoom-split"></i>&nbsp; Our Services</a>
                        <a class="dropdown-item" [routerLink]="['/methodology']"><i class="nc-icon nc-settings-gear-65"></i>&nbsp; Our Methodology</a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>
