<div class="page-header">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('./assets/img/landing-splash-2.jpg')">

    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="motto">
                <h1 class="title">Your business is not</h1>
                <h1 class="title"><span class="font-weight-bold">Cloud Migration &amp; DevOps</span>.</h1>
                <h1 class="title">Ours is.</h1>
                <br />
            </div>
        </div>
    </div>

</div>

<div class="wrapper">
    <div class="section text-center landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">What We <span class="font-weight-bold">Provide</span></h2>
                    <h5>At <i>Stoic Technology Group</i>, we help companies build better software by leaving manual processes behind and embracing an automated, collaborative, and agile way of working.</h5>
                    <br />
                    <a class="btn btn-info btn-fill btn-round" [routerLink]="['/services']">Read More</a>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-cloud-upload-94"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">AWS Services &amp; Consulting</h4>
                            <p class="description">AWS consulting for migrations, infrastructure design, implementation and support.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-cloud-upload-94"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Azure Services &amp; Consulting</h4>
                            <p class="description">Azure consulting for migrations, infrastructure design, implementation and support.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-bank"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Cloud Cost Management</h4>
                            <p>Take control of your cloud billing with cloud cost management and optimization.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-touch-id"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Application &amp; Network Security</h4>
                            <p>Services, processes and products that ensure enterprise protection throughout the enterprise infrastructure.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-tile-56"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Infrastructure Automation</h4>
                            <p class="description">Automate how you build, deploy and manage your cloud infrastructure.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-sound-wave"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Automated Monitoring</h4>
                            <p>Understand the overall health of your application in real-time, all the time.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-refresh-69"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Continuous Integration</h4>
                            <p>Expose and address issues early on in the process and reduce risk.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-spaceship"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Continuous Delivery &amp; Deployment</h4>
                            <p>Build software that's always deployable and your products in front of your users faster.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-app"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Docker &amp; Kubernetes Consulting</h4>
                            <p class="description">Automating management, deployment & scaling of containerized Docker and Kubernetes applications.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-atom"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Compute Auto-Sizing &amp; Scaling</h4>
                            <p>Scale your compute resources based on the needs of your application.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-vector"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Cloud Infrastructure Strategy &amp; Design</h4>
                            <p>Design and build infrastructure to maximize maintainability, scalability, and security.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-settings"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Cloud Migration Consulting</h4>
                            <p>Move your data to the cloud and enjoy speed, agility and flexible capacity.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-dark text-center landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Methodology We <span class="font-weight-bold">Follow</span></h2>
                    <h5 class="description">We embrace a tried and battle hardened methodology using evaluation, designing, implementing and managing to help your teams and business succeed.</h5>
                    <br />
                    <a [routerLink]="['/methodology']" class="btn btn-info btn-fill btn-round">Read More</a>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-bullet-list-67"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Evaluation</h4>
                            <p class="description">We hit the ground by learning your company's needs and challenges.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-ruler-pencil"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Design</h4>
                            <p class="description">We assess all the aspects of your organization and find the right design model.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-map-big"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Implement</h4>
                            <p>Achieving a scalable &amp; sustainable goal through translating the design vision.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-badge"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Manage</h4>
                            <p>We help your organization foster the adoption and implementation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <a href="#keepintouch"></a>
                    <h2 class="title text-center">Keep in <span class="font-weight-bold">Touch?</span></h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <input class="form-control" placeholder="Name">
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <input class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 offset-md-4">
                                <button class="btn btn-info btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer footer-gray">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.linkedin.com/in/mark-fowler-48609343/" target="_blank">LinkedIn</a></li>
                    <li><a href="https://medium.com/@shouldroforion" target="_blank">Blog</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{data | date: 'yyyy'}}, made by <i class="nc-icon nc-atom text-info"></i> @shouldroforion
                </span>
            </div>
        </div>
    </div>
</footer>
